.title{
  color: rgb(0, 25, 175);
  /* font-style: unset; */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/*   text-shadow: desplazamiento-horizontal desplazamiento-vertical radio-de-desenfoque color-de-sombra;
*/

p{
  color: rgb(16, 46, 2);
  text-shadow: 1px 1px;
}

